---
title: Verifica dell'account di 8000038 PILR figlio
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 0e38f360e56d750c917e61a56bb8a7e8587c00fc
ms.sourcegitcommit: d6ea5e9458a2b8ceaab3ac4bd483e1130b9a398a
ms.translationtype: MT
ms.contentlocale: it-IT
ms.lasthandoff: 01/15/2019
ms.locfileid: "28295885"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="26ba4-102">Data di nascita visualizzato nel tuo account Microsoft non è corretta</span><span class="sxs-lookup"><span data-stu-id="26ba4-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="26ba4-p101">Microsoft ha molto prendere in seria protezione account. È possibile recentemente stato richiesto per fornire il consenso dei genitori per account Microsoft del figlio. Se si bisogno di assistenza per fornire il consenso dei genitori o si aggiorna la data di nascita in un account Microsoft, vedere [verifica della validità di autorizzazione](https://go.microsoft.com/fwlink/p/?linkid=874364).</span><span class="sxs-lookup"><span data-stu-id="26ba4-p101">Microsoft takes account security very seriously. You may have recently been prompted to provide parental consent for a child's Microsoft account. If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="26ba4-106">Ulteriori informazioni su [Microsoft figlio account e autorizzazione](https://go.microsoft.com/fwlink/p/?linkid=874365).</span><span class="sxs-lookup"><span data-stu-id="26ba4-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  

