---
title: Verifica dell'account di 8000038 PILR figlio
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 993797d951dddea20d7df24ad40b5834a537852a
ms.sourcegitcommit: dd43cc0a9470f98b8ef2a3787c823801d674c666
ms.translationtype: MT
ms.contentlocale: it-IT
ms.lasthandoff: 02/12/2019
ms.locfileid: "29919948"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Data di nascita visualizzato nel tuo account Microsoft non è corretta

Microsoft ha molto prendere in seria protezione account. È possibile recentemente stato richiesto per fornire il consenso dei genitori per account Microsoft del figlio. Se si bisogno di assistenza per fornire il consenso dei genitori o si aggiorna la data di nascita in un account Microsoft, vedere [verifica della validità di autorizzazione](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Ulteriori informazioni su [Microsoft figlio account e autorizzazione](https://go.microsoft.com/fwlink/p/?linkid=874365).
  

