---
title: Verifica EDU
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: HT
ms.contentlocale: it-IT
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205271"
---
# <a name="edu-verification"></a><span data-ttu-id="b15df-102">Verifica EDU</span><span class="sxs-lookup"><span data-stu-id="b15df-102">EDU verification</span></span>

<span data-ttu-id="b15df-103">Nella maggior parte dei casi, le richieste di idoneità accademica vengono elaborate entro 24-48 ore.</span><span class="sxs-lookup"><span data-stu-id="b15df-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="b15df-104">Alcune richieste possono richiedere un riesame più approfondito e possono essere necessari fino a 10 giorni lavorativi.</span><span class="sxs-lookup"><span data-stu-id="b15df-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="b15df-105">Una volta completata, verrà inviato un messaggio di posta elettronica con lo stato di idoneità dell'istituto.</span><span class="sxs-lookup"><span data-stu-id="b15df-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="b15df-106">**Importante** Se dopo aver immesso il dominio è stata terminata la procedura guidata, è possibile [riprendere la procedura guidata di verifica accademica](https://go.microsoft.com/fwlink/p/?linkid=2135255) in qualsiasi momento durante la versione di valutazione gratuita.</span><span class="sxs-lookup"><span data-stu-id="b15df-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="b15df-107">Se si desidera verificare lo stato del dominio, passare all'[interfaccia di amministrazione di Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span><span class="sxs-lookup"><span data-stu-id="b15df-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="b15df-108">Nella home page, scorrere verso il basso fino alla scheda **Fatturazione**.</span><span class="sxs-lookup"><span data-stu-id="b15df-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="b15df-109">La scheda **Fatturazione** indica lo stato del processo di verifica (approvato, in sospeso, negato o aggiungere il domincio).</span><span class="sxs-lookup"><span data-stu-id="b15df-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="b15df-110">Se la richiesta viene rifiutata, vedere [L'istituto non è idoneo. Cosa devo fare ora?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="b15df-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>