---
title: Verifica EDU
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: HT
ms.contentlocale: it-IT
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205271"
---
# <a name="edu-verification"></a>Verifica EDU

Nella maggior parte dei casi, le richieste di idoneità accademica vengono elaborate entro 24-48 ore. Alcune richieste possono richiedere un riesame più approfondito e possono essere necessari fino a 10 giorni lavorativi. Una volta completata, verrà inviato un messaggio di posta elettronica con lo stato di idoneità dell'istituto.

**Importante** Se dopo aver immesso il dominio è stata terminata la procedura guidata, è possibile [riprendere la procedura guidata di verifica accademica](https://go.microsoft.com/fwlink/p/?linkid=2135255) in qualsiasi momento durante la versione di valutazione gratuita.

Se si desidera verificare lo stato del dominio, passare all'[interfaccia di amministrazione di Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339). Nella home page, scorrere verso il basso fino alla scheda **Fatturazione**. La scheda **Fatturazione** indica lo stato del processo di verifica (approvato, in sospeso, negato o aggiungere il domincio).

Se la richiesta viene rifiutata, vedere [L'istituto non è idoneo. Cosa devo fare ora?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)