---
title: 8000038 GDPR di verifica degli account figlio
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 6ad5de2c3595c775d7b5080c2ac116dd002e6777
ms.sourcegitcommit: c6692ce0fa1358ec3529e59ca0ecdfdea4cdc759
ms.translationtype: MT
ms.contentlocale: it-IT
ms.lasthandoff: 09/14/2020
ms.locfileid: "47707967"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>La data di nascita visualizzata nel tuo account Microsoft non è corretta

Microsoft accetta molto sul serio la sicurezza dell'account. Potrebbe essere stato recentemente chiesto di fornire il consenso dei genitori per l'account Microsoft di un bambino. Se si ha bisogno di assistenza per fornire il consenso dei genitori o aggiornare la data di nascita in un account Microsoft, vedere [Age Verification per il consenso dei genitori](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Per ulteriori informazioni [, vedere consenso dei genitori e account di Microsoft Child](https://go.microsoft.com/fwlink/p/?linkid=874365).
  