---
title: 8000038 GDPR di verifica degli account figlio
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 238d1440438bce2531f1a57f5592a204cf9c3cf3
ms.sourcegitcommit: 55eff703a17e500681d8fa6a87eb067019ade3cc
ms.translationtype: MT
ms.contentlocale: it-IT
ms.lasthandoff: 04/22/2020
ms.locfileid: "43764984"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="8e7ea-102">La data di nascita visualizzata nel tuo account Microsoft non è corretta</span><span class="sxs-lookup"><span data-stu-id="8e7ea-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="8e7ea-103">Microsoft accetta molto sul serio la sicurezza dell'account.</span><span class="sxs-lookup"><span data-stu-id="8e7ea-103">Microsoft takes account security very seriously.</span></span> <span data-ttu-id="8e7ea-104">Potrebbe essere stato recentemente chiesto di fornire il consenso dei genitori per l'account Microsoft di un bambino.</span><span class="sxs-lookup"><span data-stu-id="8e7ea-104">You may have recently been prompted to provide parental consent for a child's Microsoft account.</span></span> <span data-ttu-id="8e7ea-105">Se si ha bisogno di assistenza per fornire il consenso dei genitori o aggiornare la data di nascita in un account Microsoft, vedere [Age Verification per il consenso dei genitori](https://go.microsoft.com/fwlink/p/?linkid=874364).</span><span class="sxs-lookup"><span data-stu-id="8e7ea-105">If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="8e7ea-106">Per ulteriori informazioni [, vedere consenso dei genitori e account di Microsoft Child](https://go.microsoft.com/fwlink/p/?linkid=874365).</span><span class="sxs-lookup"><span data-stu-id="8e7ea-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  