---
title: 8000038 GDPR di verifica degli account figlio
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 238d1440438bce2531f1a57f5592a204cf9c3cf3
ms.sourcegitcommit: 55eff703a17e500681d8fa6a87eb067019ade3cc
ms.translationtype: MT
ms.contentlocale: it-IT
ms.lasthandoff: 04/22/2020
ms.locfileid: "43764984"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>La data di nascita visualizzata nel tuo account Microsoft non è corretta

Microsoft accetta molto sul serio la sicurezza dell'account. Potrebbe essere stato recentemente chiesto di fornire il consenso dei genitori per l'account Microsoft di un bambino. Se si ha bisogno di assistenza per fornire il consenso dei genitori o aggiornare la data di nascita in un account Microsoft, vedere [Age Verification per il consenso dei genitori](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Per ulteriori informazioni [, vedere consenso dei genitori e account di Microsoft Child](https://go.microsoft.com/fwlink/p/?linkid=874365).
  