---
title: 8000038 verifica dell'account figlio GDPR
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 844679cba6b109a2c552c38e1884040cd545cd260930eb7aabed6ed0911c8a50
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: MT
ms.contentlocale: it-IT
ms.lasthandoff: 08/05/2021
ms.locfileid: "54056998"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>La data di nascita visualizzata nell'account Microsoft non è corretta

Microsoft prende molto sul serio la sicurezza dell'account. Di recente potrebbe essere stato richiesto di fornire il consenso dei genitori per l'account Microsoft di un bambino. Se hai bisogno di assistenza per fornire il consenso dei genitori o aggiornare la data di nascita in un account Microsoft, vedi [Verifica dell'età per il consenso dei genitori.](https://go.microsoft.com/fwlink/p/?linkid=874364)
  
Altre informazioni sul [consenso dei genitori e sugli account per bambini Microsoft.](https://go.microsoft.com/fwlink/p/?linkid=874365)
  