---
title: Risolvere i problemi relativi alla verifica del server di pubblicazione
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: HT
ms.contentlocale: it-IT
ms.lasthandoff: 01/15/2021
ms.locfileid: "49875397"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a><span data-ttu-id="b9723-102">Problemi relativi alla verifica del server di pubblicazione per gli sviluppatori</span><span class="sxs-lookup"><span data-stu-id="b9723-102">Issues related to Publisher Verification for developers</span></span>

<span data-ttu-id="b9723-103">**Passaggi consigliati**</span><span class="sxs-lookup"><span data-stu-id="b9723-103">**Recommended steps**</span></span> 

<span data-ttu-id="b9723-104">Per risolvere i problemi relativi alla verifica del server di pubblicazione, seguire i passaggi sottostanti:</span><span class="sxs-lookup"><span data-stu-id="b9723-104">To resolve issues related to publisher verification, perform the below steps:</span></span>

1. <span data-ttu-id="b9723-105">Rivedere i prerequisiti e altri requisiti per garantire che siano tutti soddisfatti.</span><span class="sxs-lookup"><span data-stu-id="b9723-105">Review the prerequisites and other requirements to ensure they are all met.</span></span>
2. <span data-ttu-id="b9723-106">Rivedere le istruzioni per [contrassegnare un'app come Server di pubblicazione verificato](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) e garantire che tutti i passaggi siano stati eseguiti correttamente.</span><span class="sxs-lookup"><span data-stu-id="b9723-106">Review the instructions to [mark an app as publisher verified](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) and ensure all steps have been performed successfully.</span></span>
3. <span data-ttu-id="b9723-107">Rivedere l'elenco dei [problemi comuni](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) e seguire i passaggi consigliati in caso di problemi con l'elenco.</span><span class="sxs-lookup"><span data-stu-id="b9723-107">Review the list of [common issues](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) and follow the recommended steps if you have an issue from such a list.</span></span>
4. <span data-ttu-id="b9723-108">Riprodurre la richiesta usando [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) per raccogliere informazioni e regole aggiuntive per qualsiasi problema relativo all'interfaccia utente.</span><span class="sxs-lookup"><span data-stu-id="b9723-108">Reproduce the request using [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) to gather additional info and rule out any issues in the UI.</span></span>

<span data-ttu-id="b9723-109">**Documenti consigliati**</span><span class="sxs-lookup"><span data-stu-id="b9723-109">**Recommended documents**</span></span>

- [<span data-ttu-id="b9723-110">Verifica server di pubblicazione: panoramica</span><span class="sxs-lookup"><span data-stu-id="b9723-110">Publisher verification - overview</span></span>](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [<span data-ttu-id="b9723-111">Contrassegna l'app con Server di pubblicazione verificato</span><span class="sxs-lookup"><span data-stu-id="b9723-111">Mark your app as publisher verified</span></span>](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [<span data-ttu-id="b9723-112">Risolvere i problemi relativi alla verifica del server di pubblicazione</span><span class="sxs-lookup"><span data-stu-id="b9723-112">Troubleshoot publisher verification</span></span>](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

