---
title: Risolvere i problemi relativi alla verifica del server di pubblicazione
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: HT
ms.contentlocale: it-IT
ms.lasthandoff: 01/15/2021
ms.locfileid: "49875397"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a>Problemi relativi alla verifica del server di pubblicazione per gli sviluppatori

**Passaggi consigliati** 

Per risolvere i problemi relativi alla verifica del server di pubblicazione, seguire i passaggi sottostanti:

1. Rivedere i prerequisiti e altri requisiti per garantire che siano tutti soddisfatti.
2. Rivedere le istruzioni per [contrassegnare un'app come Server di pubblicazione verificato](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) e garantire che tutti i passaggi siano stati eseguiti correttamente.
3. Rivedere l'elenco dei [problemi comuni](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) e seguire i passaggi consigliati in caso di problemi con l'elenco.
4. Riprodurre la richiesta usando [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) per raccogliere informazioni e regole aggiuntive per qualsiasi problema relativo all'interfaccia utente.

**Documenti consigliati**

- [Verifica server di pubblicazione: panoramica](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [Contrassegna l'app con Server di pubblicazione verificato](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [Risolvere i problemi relativi alla verifica del server di pubblicazione](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

